################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/WebDev/.vs
/WebDev/packages/WebGrease.1.6.0
/WebDev/packages/System.Diagnostics.DiagnosticSource.4.5.0
/WebDev/packages/popper.js.1.14.0
/WebDev/packages/Owin.1.0
/WebDev/packages/Newtonsoft.Json.11.0.2
/WebDev/packages/MSTest.TestFramework.1.3.2
/WebDev/packages/MSTest.TestAdapter.1.3.2
/WebDev/packages/Modernizr.2.8.3
/WebDev/packages/Microsoft.Web.Infrastructure.1.0.0.0
/WebDev/packages/Microsoft.Owin.Security.Twitter.4.0.0
/WebDev/packages/Microsoft.Owin.Security.OAuth.4.0.0
/WebDev/packages/Microsoft.Owin.Security.MicrosoftAccount.4.0.0
/WebDev/packages/Microsoft.Owin.Security.Google.4.0.0
/WebDev/packages/Microsoft.Owin.Security.Facebook.4.0.0
/WebDev/packages/Microsoft.Owin.Security.Cookies.4.0.0
/WebDev/packages/Microsoft.Owin.Security.4.0.0
/WebDev/packages/Microsoft.Owin.Host.SystemWeb.4.0.0
/WebDev/packages/Microsoft.Owin.4.0.0
/WebDev/packages/Microsoft.Net.Compilers.2.8.2
/WebDev/packages/Microsoft.Net.Compilers.2.6.1/tools
/WebDev/packages/Microsoft.jQuery.Unobtrusive.Validation.3.2.10
/WebDev/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0
/WebDev/packages/Microsoft.AspNet.WebPages.3.2.6
/WebDev/packages/Microsoft.AspNet.Web.Optimization.WebForms.1.1.3
/WebDev/packages/Microsoft.AspNet.Web.Optimization.1.1.3
/WebDev/packages/Microsoft.AspNet.TelemetryCorrelation.1.0.3
/WebDev/packages/Microsoft.AspNet.ScriptManager.WebForms.5.0.0
/WebDev/packages/Microsoft.AspNet.ScriptManager.MSAjax.5.0.0
/WebDev/packages/Microsoft.AspNet.Razor.3.2.6
/WebDev/packages/Microsoft.AspNet.Providers.Core.2.0.0
/WebDev/packages/Microsoft.AspNet.Mvc.5.2.6
/WebDev/packages/Microsoft.AspNet.Identity.Owin.2.2.1
/WebDev/packages/Microsoft.AspNet.Identity.EntityFramework.2.2.1
/WebDev/packages/Microsoft.AspNet.Identity.Core.2.2.1
/WebDev/packages/Microsoft.AspNet.FriendlyUrls.Core.1.0.2
/WebDev/packages/Microsoft.AspNet.FriendlyUrls.1.0.2
/WebDev/packages/Microsoft.ApplicationInsights.WindowsServer.TelemetryChannel.2.6.4
/WebDev/packages/Microsoft.ApplicationInsights.WindowsServer.2.6.4
/WebDev/packages/Microsoft.ApplicationInsights.Web.2.6.4
/WebDev/packages/Microsoft.ApplicationInsights.PerfCounterCollector.2.6.4
/WebDev/packages/Microsoft.ApplicationInsights.DependencyCollector.2.6.4
/WebDev/packages/Microsoft.ApplicationInsights.Agent.Intercept.2.4.0
/WebDev/packages/Microsoft.ApplicationInsights.2.6.4
/WebDev/packages/jQuery.Validation.1.17.0
/WebDev/packages/jQuery.3.3.1
/WebDev/packages/EntityFramework.6.2.0
/WebDev/packages/bootstrap.4.1.1
/WebDev/packages/AspNet.ScriptManager.jQuery.3.3.1
/WebDev/packages/AspNet.ScriptManager.bootstrap.4.1.1
/WebDev/packages/Antlr.3.5.0.2
/WebDev/packages/Microsoft.Net.Compilers.2.6.1.deleteme
/WebDev/WebDev.AspNET/bin
/WebDev/WebDev.AspNET/obj/Debug
/WebDev/WebDev.AspNETCore/bin/Debug/netcoreapp2.0
/WebDev/WebDev.AspNETCore/obj
/WebDev/WebDev.AspNETCoreNoAuth/bin/Debug/netcoreapp2.0
/WebDev/WebDev.AspNETCoreNoAuth/obj
/WebDev/WebDev.AspNETMVC/bin
/WebDev/WebDev.AspNETMVC/obj/Debug
/WebDev/WebDev.AspNETMVC.Tests/bin/Debug
/WebDev/WebDev.AspNETMVC.Tests/obj/Debug
/WebDev/WebDev.AspNetReact/bin
/WebDev/WebDev.AspNetReact/obj/Debug
/WebDev/packages/Microsoft.AspNet.WebPages.3.2.4
/WebDev/packages/Microsoft.AspNet.SignalR.SystemWeb.2.2.2
/WebDev/packages/Microsoft.AspNet.SignalR.JS.2.2.2
/WebDev/packages/Microsoft.AspNet.SignalR.Core.2.2.2
/WebDev/packages/Microsoft.AspNet.SignalR.2.2.2
/WebDev/packages/Microsoft.AspNet.Razor.3.2.4
/WebDev/packages/Microsoft.AspNet.Mvc.5.2.4
/WebDev/WebDev.AspNET/obj/Release
/WebDev/WebDev.AspNETCore/bin
/WebDev/WebDev.AspNETMVC/obj/Release
/WebDev/WebDev.AspNETMVC.Tests/obj/Release
/WebDev/WebDev.AspNetReact/obj/Release
*.user
/WebDev/bin/Debug
/WebDev/obj
/WebDev/WebDev.AspNETMVC/obj/Docker
/WebDev/WebDev.Containerized.MVCWeb/bin/Debug/netcoreapp2.2
/WebDev/WebDev.Containerized.MVCWeb/obj/Debug/netcoreapp2.2
/WebDev/WebDev.Containerized.MVCWeb/obj
